@{
	ViewData["Title"] = "Ayuna - Blog";
}

@model BlogVM

<!-- breadcrumb start -->
<section class="breadcrumb-section">
	<div class="breadcrumb">
		<a asp-controller="Home" asp-action="Index">Home / </a>
		<a asp-controller="Blog" asp-action="Index">Blog</a>
	</div>
	<div class="layer"></div>
</section>
<!-- breadcrumb end -->
<!-- blog start -->
<div class="blog-wrapper">
	<div class="title text-center">
		<h3>Blog</h3>
		<div class="container-desc">
			<div class="row flex-column flex-lg-row">
				<div class="col-12 col-lg-8 blog-left">
					<div class="row">
						@foreach (Blog item in Model.Blogs)
						{

							<div class="blog-card mb-5 col-12 col-lg-6">
								<div class="image">
									<img class="w-100"
										 src="@item.Image"
										 alt="img" />
								</div>
								<div class="content">
									<div class="blog-date d-flex align-items-center flex-column gap-3">
										<div><span>@item.dateTime</span></div>
										<div>
											@foreach (var x in item.categories)
											{
												<span class="blog-categories">@x.Name/</span>
											}
										</div>
									</div>
									<div>
										<h2>@item.Name</h2>
										<p>
											@(item.Description.Length > 200 ? item.Description.Substring(0, 200) + "..." : item.Description)
										</p>

										<a asp-route-id="@item.Id" asp-action="BlogDetail">
											<span>Read more</span>
										</a>
									</div>
								</div>
							</div>
						}


					</div>
				</div>
				<div class="col-12 col-lg-4 blog-right mt-5 mt-lg-0">
					<div class="position-relative w-100 mb-3">
						<form method="get" asp-action="Index">
							<input type="text" name="search" placeholder="Search" value="@ViewBag.Search" />
							<button type="submit">
								<i class="fa-solid fa-magnifying-glass"></i>
							</button>
						</form>
					</div>

					<div class="categories d-flex flex-column align-items-start mb-3">
						<h5>Categories</h5>
						<ul class="d-flex flex-column align-items-start gap-2">
							@foreach (var item in Model.Categories)
							{
								<li>
									<a asp-action="Index" asp-route-categoryId="@item.Id">@item.Name</a>
								</li>
							}
						</ul>
					</div>
					<div class="posts d-flex flex-column align-items-start mb-3">
						<h5>Popular Posts</h5>
						@foreach (Blog item in Model.Blogs.Take(3))
						{
							<div class="d-flex mb-2 align-content-center">
								<div class="post-img">
									<a asp-route-id="@item.Id" asp-action="BlogDetail">
										<img src="@item.Image" alt="img" />
									</a>
								</div>
								<div class="post-info d-flex flex-column align-items-start">
									<h4>@item.Name</h4>

									@foreach (var x in item.categories)
									{
										<span>@x.Name/</span>
									}
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
		<nav class="d-flex align-items-center justify-content-center">
			<ul class="pagination">
				@for (int i = 1; i <= ViewBag.PageCount; i++)
				{
					if (i == ViewBag.Page)
					{
						<li class="page-item active"><a class="page-link" href="/Blog/Index?page=@i">@i</a></li>
					}
					else
					{
						<li class="page-item"><a class="page-link" href="/Blog/Index?page=@i">@i</a></li>
					}
				}
			</ul>
		</nav>
	</div>
</div>

<!--blog end -->
