@{
	ViewData["Title"] = "Ayuna - Blog";
}

@model List<Blog>

<!-- breadcrumb start -->
<section class="breadcrumb-section">
	<div class="breadcrumb">
		<a href="index.html">Home / </a>
		<a href="#">Blog</a>
	</div>
	<div class="layer"></div>
</section>
<!-- breadcrumb end -->
<!-- blog start -->
<div class="blog-wrapper">
	<div class="title text-center">
		<h3>Blog</h3>
		<div class="container-desc">
			<div class="row flex-column flex-lg-row">
				<div class="col-12 col-lg-8 blog-left">
					<div class="row">
						@foreach (Blog item in Model)
						{

							<div class="blog-card mb-5 col-12 col-lg-6">
								<div class="image">
									<img class="w-100"
										 src="@item.Image"
										 alt="img" />
								</div>
								<div class="content">
									<div class="blog-date d-flex align-items-center">
										<span>@item.dateTime</span>

										@foreach (var x in item.categories)
										{
											<span class="blog-categories">@x.Name/</span>
										}
									</div>
									<div>
										<h2>@item.Name</h2>
										<p>
											@item.Description
										</p>
										<a asp-route-id="@item.Id" asp-action="BlogDetail">
											<span>Read more</span>
										</a>
									</div>
								</div>
							</div>
						}


					</div>
				</div>
				<div class="col-12 col-lg-4 blog-right mt-5 mt-lg-0">
					<div class="position-relative w-100 mb-3">
						<input type="text" placeholder="Seach" />
						<i class="fa-solid fa-magnifying-glass"></i>
					</div>
					<div class="categories d-flex flex-column align-items-start mb-3">
						<h5>Categories</h5>
						<ul class="d-flex flex-column align-items-start gap-2">
							<li>
								<a href="">Gold</a>
							</li>
							<li>
								<a href="">Handmade</a>
							</li>
							<li>
								<a href="">Lifestyle</a>
							</li>
							<li>
								<a href="">Materials</a>
							</li>
							<li>
								<a href="">Pastel</a>
							</li>
							<li>
								<a href="">Pearls</a>
							</li>
							<li>
								<a href="">Rose</a>
							</li>
							<li>
								<a href="">Silver</a>
							</li>
						</ul>
					</div>
					<div class="posts d-flex flex-column align-items-start mb-3">
						<h5>Popular Posts</h5>
						<div class="d-flex mb-2 align-content-center">
							<div class="post-img">
								<a href="blog-details.html">
									<img src="images/blog-list-img-5.jpg" alt="img" />
								</a>
							</div>
							<div class="post-info d-flex flex-column align-items-start">
								<h4>10 ways of wearing jewelry</h4>
								<span>Pearls / Sliver</span>
							</div>
						</div>
						<div class="d-flex mb-2 align-content-center">
							<div class="post-img">
								<a href="blog-details.html">
									<img src="images/blog-list-img-3.jpg" alt="img" />
								</a>
							</div>
							<div class="post-info d-flex flex-column align-items-start">
								<h4>The new luxury of online shops</h4>
								<span>Pearls / Sliver</span>
							</div>
						</div>
						<div class="d-flex mb-2 align-content-center">
							<div class="post-img">
								<a href="blog-details.html">
									<img src="images/blog-f-img-4.jpg" alt="img" />
								</a>
							</div>
							<div class="post-info d-flex flex-column align-items-start">
								<h4>We work with the best jewelers</h4>
								<span>Pearls / Sliver</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="d-flex align-items-center justify-content-center">
			<ul class="pagination">
				@for (int i = 1; i <= ViewBag.PageCount; i++)
				{
					if (i == ViewBag.Page)
					{
						<li class="page-item active"><a class="page-link" href="/Blog/Index?page=@i">@i</a></li>
					}
					else
					{
						<li class="page-item"><a class="page-link" href="/Blog/Index?page=@i">@i</a></li>
					}
				}
			</ul>
		</nav>
	</div>
</div>

<!--blog end -->
