
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Basket>

<!-- breadcrumb start -->
<section class="breadcrumb-section">
    <div class="breadcrumb">
        <a href="index.html">Home / </a>
        <a href="#">Cart</a>
    </div>
    <div class="layer"></div>
</section>
<!-- breadcrumb end -->
<!-- cart start -->
<div class="cart-wishlist-wrapper mt-5 mb-5">
    <div class="container">
        <div class="table-responsive">
            @if (@ViewBag.Count == 0)
            {
                <p>Sebetiniz bosdur</p>
            }
            else
            {
                <table class="table text-center d-none d-md-table">
                    <thead>
                        <tr>
                            <th>Məhsul</th>
                            <th>Məhsulun adı</th>
                            <th>Say</th>
                            <th>Ümumi</th>
                            <th>Səbətə at</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="@item.Product.Image" alt="img" /></td>
                                <td>@item.Product.Name</td>
                                <td>
                                    <div class="quantity-buttons">
                                        <button class="decrement">-</button>
                                        <input disabled value="1" class="counter" />
                                        <button class="increment">+</button>
                                    </div>
                                </td>
                                <td class="item-total">@item.Product.Price ₼</td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.Product.Id"><i class="fa-solid fa-trash-can delete-icon"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
           

            <!-- Mobile view -->
            <div class="cart-cards d-md-none">
                <div class="cart-card">
                    <div class="cart-card-img">
                        <img src="assets/images/product-img-1.jpg" alt="img" />
                    </div>
                    <div class="cart-card-body">
                        <h5 class="product-name">Aksesuar 1</h5>
                        <p class="price">Qiymət: 5 ₼</p>
                        <div class="quantity-buttons mobile">
                            <button class="decrement">-</button>
                            <input disabled value="1" class="counter" />
                            <button class="increment">+</button>
                        </div>
                        <p class="total">Ümumi: 5 ₼</p>
                        <i class="fa-solid fa-trash-can delete-icon"></i>
                    </div>
                </div>
                <div class="cart-card">
                    <div class="cart-card-img">
                        <img src="assets/images/product-img-1.jpg" alt="img" />
                    </div>
                    <div class="cart-card-body">
                        <h5 class="product-name">Aksesuar 1</h5>
                        <p class="price">Qiymət: 5 ₼</p>
                        <div class="quantity-buttons mobile">
                            <button class="decrement">-</button>
                            <input disabled value="1" class="counter" />
                            <button class="increment">+</button>
                        </div>
                        <p class="total">Ümumi: 5 ₼</p>
                        <i class="fa-solid fa-trash-can delete-icon"></i>
                    </div>
                </div>
                <div class="cart-card">
                    <div class="cart-card-img">
                        <img src="assets/images/product-img-1.jpg" alt="img" />
                    </div>
                    <div class="cart-card-body">
                        <h5 class="product-name">Aksesuar 1</h5>
                        <p class="price">Qiymət: 5 ₼</p>
                        <div class="quantity-buttons mobile">
                            <button class="decrement">-</button>
                            <input disabled value="1" class="counter" />
                            <button class="increment">+</button>
                        </div>
                        <p class="total">Ümumi: 5 ₼</p>
                        <i class="fa-solid fa-trash-can delete-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="mt-4 mb-5 d-flex justify-content-end">
            <div class="total-cart">
                <h3 class="pb-2">Kart detalları</h3>
                <div class="d-flex justify-content-between">
                    <p>Ümumi:</p>
                    <span id="grand-total">200.00 ₼</span>
                </div>
            </div>
        </div> *@
    </div>
</div>
<!-- cart end -->

