<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<base href="~/" />
	<link rel="icon" href="images/logo-white.png" />
	<!-- bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
		  rel="stylesheet"
		  integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
		  crossorigin="anonymous" />
	<!-- font awesome -->
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
		  integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
		  crossorigin="anonymous"
		  referrerpolicy="no-referrer" />
	<!-- swiper -->
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<!-- Fancybox -->
	<link rel="stylesheet"
		  href='@("https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css")' />


	<link rel="stylesheet" href="./css/about.css" />
	<link rel="stylesheet" href="./css/blog.css" />
	<link rel="stylesheet" href="./css/blog-detail.css" />
	<link rel="stylesheet" href="./css/cart-wishlist.css" />
	<link rel="stylesheet" href="./css/contact.css" />
	<link rel="stylesheet" href="./css/error.css" />
	<link rel="stylesheet" href="./css/gift-card.css" />
	<link rel="stylesheet" href="./css/login-register.css" />
	<link rel="stylesheet" href="./css/portfolio.css" />
	<link rel="stylesheet" href="./css/product-detail.css" />
	<link rel="stylesheet" href="./css/shop.css" />
	<link rel="stylesheet" href="./css/style.css" />
</head>
<body>
	<!-- scroll top start -->
	<button class="page-scroll-button d-flex align-items-center justify-content-center">
		<i class="fa-solid fa-chevron-up"></i>
	</button>
	<!-- scroll top end -->
	<!-- header start -->
	@await Component.InvokeAsync("Header")
	<!-- header end -->
	<!-- nav start -->
	<!-- nav end -->
	<!-- main start -->
	<main>
		@RenderBody()
	</main>
	<!-- main end -->
	<!-- footer start -->
	@await Component.InvokeAsync("Footer")
	<!-- footer end -->
	@RenderSection("Scripts", false)
	<!-- bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
			crossorigin="anonymous"></script>
	<!-- font awesome -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/js/all.min.js"
			integrity="sha512-gBYquPLlR76UWqCwD06/xwal4so02RjIR0oyG1TIhSGwmBTRrIkQbaPehPF8iwuY9jFikDHMGEelt0DtY7jtvQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"></script>
	<!-- swiper -->
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<!-- fancybox js -->
	<script src='@("https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")'></script>


	<script src="script.js"></script>
</body>
</html>
